<p id="notice"><%= notice %></p>

<p>
  <strong>First name:</strong>
  <%= @staff.first_name %>
</p>

<p>
  <strong>Lastname:</strong>
  <%= @staff.lastname %>
</p>

<p>
  <strong>Username:</strong>
  <%= @staff.username %>
</p>

<p>
  <strong>Password digest:</strong>
  <%= @staff.password_digest %>
</p>

<p>
  <strong>Role:</strong>
  <%= @staff.role %>
</p>

<p>
  <strong>Birthdate:</strong>
  <%= @staff.birthdate %>
</p>

<p>
  <strong>State:</strong>
  <%= @staff.state %>
</p>

<%= link_to 'Edit', edit_staff_path(@staff) %> |
<%= link_to 'Back', staffs_path %>
