<p id="notice"><%= notice %></p>

<p>
  <strong>Suffix:</strong>
  <%= @consecutive.suffix %>
</p>

<p>
  <strong>Folio company:</strong>
  <%= @consecutive.folio_company %>
</p>

<p>
  <strong>Company:</strong>
  <%= @consecutive.company %>
</p>

<p>
  <strong>Customer:</strong>
  <%= @consecutive.customer %>
</p>

<%= link_to 'Edit', edit_consecutive_path(@consecutive) %> |
<%= link_to 'Back', consecutives_path %>
