<p id="notice"><%= notice %></p>

<h1>Entities</h1>

<table>
  <thead>
    <tr>
      <th>Service</th>
      <th>Name eps</th>
      <th>Name afp</th>
      <th>Name arl</th>
      <th>Name ccf</th>
      <th>Level arl</th>
      <th>Code</th>
      <th>Percent</th>
      <th>Type</th>
      <th>Category</th>
      <th>State</th>
      <th>Company</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @entities.each do |entity| %>
      <tr>
        <td><%= entity.service %></td>
        <td><%= entity.name_eps %></td>
        <td><%= entity.name_afp %></td>
        <td><%= entity.name_arl %></td>
        <td><%= entity.name_ccf %></td>
        <td><%= entity.level_arl %></td>
        <td><%= entity.code %></td>
        <td><%= entity.percent %></td>
        <td><%= entity.type %></td>
        <td><%= entity.category %></td>
        <td><%= entity.state %></td>
        <td><%= entity.company %></td>
        <td><%= link_to 'Show', entity %></td>
        <td><%= link_to 'Edit', edit_entity_path(entity) %></td>
        <td><%= link_to 'Destroy', entity, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Entity', new_entity_path %>
