<p id="notice"><%= notice %></p>

<p>
  <strong>Service:</strong>
  <%= @entity.service %>
</p>

<p>
  <strong>Name eps:</strong>
  <%= @entity.name_eps %>
</p>

<p>
  <strong>Name afp:</strong>
  <%= @entity.name_afp %>
</p>

<p>
  <strong>Name arl:</strong>
  <%= @entity.name_arl %>
</p>

<p>
  <strong>Name ccf:</strong>
  <%= @entity.name_ccf %>
</p>

<p>
  <strong>Level arl:</strong>
  <%= @entity.level_arl %>
</p>

<p>
  <strong>Code:</strong>
  <%= @entity.code %>
</p>

<p>
  <strong>Percent:</strong>
  <%= @entity.percent %>
</p>

<p>
  <strong>Type:</strong>
  <%= @entity.type %>
</p>

<p>
  <strong>Category:</strong>
  <%= @entity.category %>
</p>

<p>
  <strong>State:</strong>
  <%= @entity.state %>
</p>

<p>
  <strong>Company:</strong>
  <%= @entity.company %>
</p>

<%= link_to 'Edit', edit_entity_path(@entity) %> |
<%= link_to 'Back', entities_path %>
