<p id="notice"><%= notice %></p>

<p>
  <strong>Date admission:</strong>
  <%= @customer.date_admission %>
</p>

<p>
  <strong>First name:</strong>
  <%= @customer.first_name %>
</p>

<p>
  <strong>Second name:</strong>
  <%= @customer.second_name %>
</p>

<p>
  <strong>Lastname:</strong>
  <%= @customer.lastname %>
</p>

<p>
  <strong>Second surname:</strong>
  <%= @customer.second_surname %>
</p>

<p>
  <strong>Civil status:</strong>
  <%= @customer.civil_status %>
</p>

<p>
  <strong>Gender:</strong>
  <%= @customer.gender %>
</p>

<p>
  <strong>Pregnancy:</strong>
  <%= @customer.pregnancy %>
</p>

<p>
  <strong>Gestation weeks:</strong>
  <%= @customer.gestation_weeks %>
</p>

<p>
  <strong>Current work:</strong>
  <%= @customer.current_work %>
</p>

<p>
  <strong>Identification:</strong>
  <%= @customer.identification %>
</p>

<p>
  <strong>Address:</strong>
  <%= @customer.address %>
</p>

<p>
  <strong>Email:</strong>
  <%= @customer.email %>
</p>

<p>
  <strong>Staff:</strong>
  <%= @customer.staff %>
</p>

<p>
  <strong>Birthdate:</strong>
  <%= @customer.birthdate %>
</p>

<p>
  <strong>Advertising medium:</strong>
  <%= @customer.advertising_medium %>
</p>

<p>
  <strong>Account:</strong>
  <%= @customer.account %>
</p>

<p>
  <strong>Company:</strong>
  <%= @customer.company %>
</p>

<p>
  <strong>Arrival card ccf:</strong>
  <%= @customer.arrival_card_ccf %>
</p>

<p>
  <strong>Arrival card arl:</strong>
  <%= @customer.arrival_card_arl %>
</p>

<p>
  <strong>Ibc:</strong>
  <%= @customer.ibc %>
</p>

<p>
  <strong>State:</strong>
  <%= @customer.state %>
</p>

<p>
  <strong>Entity:</strong>
  <%= @customer.entity %>
</p>

<%= link_to 'Edit', edit_customer_path(@customer) %> |
<%= link_to 'Back', customers_path %>
