<p id="notice"><%= notice %></p>

<h1>Log2s</h1>

<table>
  <thead>
    <tr>
      <th>Data</th>
      <th>Data trans</th>
      <th>User hash</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @log2s.each do |log2| %>
      <tr>
        <td><%= log2.data %></td>
        <td><%= log2.data_trans %></td>
        <td><%= log2.user_hash %></td>
        <td><%= link_to 'Show', log2 %></td>
        <td><%= link_to 'Edit', edit_log2_path(log2) %></td>
        <td><%= link_to 'Destroy', log2, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Log2', new_log2_path %>
