<%= form_with(model: company, local: true) do |form| %>
  <% if company.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(company.errors.count, "error") %> prohibited this company from being saved:</h2>

      <ul>
      <% company.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :legal_representative %>
    <%= form.text_field :legal_representative %>
  </div>

  <div class="field">
    <%= form.label :cc_legal_representative %>
    <%= form.text_field :cc_legal_representative %>
  </div>

  <div class="field">
    <%= form.label :creation_date %>
    <%= form.date_select :creation_date %>
  </div>

  <div class="field">
    <%= form.label :economic_activity %>
    <%= form.text_field :economic_activity %>
  </div>

  <div class="field">
    <%= form.label :code_economic_activity %>
    <%= form.text_field :code_economic_activity %>
  </div>

  <div class="field">
    <%= form.label :email_id %>
    <%= form.text_field :email_id %>
  </div>

  <div class="field">
    <%= form.label :identification_id %>
    <%= form.text_field :identification_id %>
  </div>

  <div class="field">
    <%= form.label :address_id %>
    <%= form.text_field :address_id %>
  </div>

  <div class="field">
    <%= form.label :state_id %>
    <%= form.text_field :state_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
