<p id="notice"><%= notice %></p>

<p>
  <strong>Eps:</strong>
  <%= @settled.eps %>
</p>

<p>
  <strong>Ccf:</strong>
  <%= @settled.ccf %>
</p>

<p>
  <strong>Afp:</strong>
  <%= @settled.afp %>
</p>

<p>
  <strong>Arl:</strong>
  <%= @settled.arl %>
</p>

<p>
  <strong>Customer:</strong>
  <%= @settled.customer %>
</p>

<p>
  <strong>Company:</strong>
  <%= @settled.company %>
</p>

<p>
  <strong>Online contribution:</strong>
  <%= @settled.online_contribution %>
</p>

<p>
  <strong>Online contributioin number:</strong>
  <%= @settled.online_contributioin_number %>
</p>

<p>
  <strong>Ccm:</strong>
  <%= @settled.ccm %>
</p>

<p>
  <strong>Rut:</strong>
  <%= @settled.rut %>
</p>

<p>
  <strong>Bank certification:</strong>
  <%= @settled.bank_certification %>
</p>

<p>
  <strong>Headquarter:</strong>
  <%= @settled.headquarter %>
</p>

<p>
  <strong>Identification:</strong>
  <%= @settled.identification %>
</p>

<p>
  <strong>Personal document:</strong>
  <%= @settled.personal_document %>
</p>

<%= link_to 'Edit', edit_settled_path(@settled) %> |
<%= link_to 'Back', settleds_path %>
