<%= form_with(model: accountname, local: true) do |form| %>
  <% if accountname.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(accountname.errors.count, "error") %> prohibited this accountname from being saved:</h2>

      <ul>
      <% accountname.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :type_account %>
    <%= form.text_field :type_account %>
  </div>

  <div class="field">
    <%= form.label :address_id %>
    <%= form.text_field :address_id %>
  </div>

  <div class="field">
    <%= form.label :identification_id %>
    <%= form.text_field :identification_id %>
  </div>

  <div class="field">
    <%= form.label :email_id %>
    <%= form.text_field :email_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
