<%= form_with(model: identification, local: true) do |form| %>
  <% if identification.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(identification.errors.count, "error") %> prohibited this identification from being saved:</h2>

      <ul>
      <% identification.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :type %>
    <%= form.text_field :type %>
  </div>

  <div class="field">
    <%= form.label :number %>
    <%= form.text_field :number %>
  </div>

  <div class="field">
    <%= form.label :check_digit %>
    <%= form.text_field :check_digit %>
  </div>

  <div class="field">
    <%= form.label :state_id %>
    <%= form.text_field :state_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
